@import url('https://fonts.googleapis.com/css?family=Abel');

body {
    font-family: 'Abel', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/taxi1.jpg) center no-repeat fixed;
    background-size: cover;
    height: 100%;
    overflow: visible;
}

.custom-nav {
    background-color: #dcdcdc !important; /* Replace with your desired background color */
}
  
.navbar {
    padding-left: 20px;
    padding-right: 20px;
    height: 80px;
}
  
.nav-item .nav-link {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border: 1px solid #323232;
    height: 35px; /* adjust as needed */
    width: 70px;
    line-height: 20px; /* adjust as needed */
    margin-top: 15px; /* adjust as needed */
    text-align: center;
}
  
.nav-item .nav-link:hover {
    background-color: #b2b2b2;
}

.text-box {
    background-color: rgba(0, 143, 90, 0.8);
    border-radius: 20px;
    margin: 4em auto 2em;
    padding: 20px;
    width: 60%;
}

h4 {
    font-family: 'Abel', sans-serif;
    position: relative;
    margin-top: 5px;
    text-align: center;
    font-size: 30px;
    color: #ddd;
    text-shadow: 3px 3px 10px #5A5A5A;
}

hr {
    width: 60%;
    margin: 10px auto;
}

p {
    font-family: 'Abel', sans-serif;
    position: relative;
    margin-top: 5px;
    text-align: center;
    font-size: 18px;
    color: white;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #323232;
    border-radius: 20px;
    margin: auto;
    width: 60%;
    padding: 1em;
    align-items: center;
}

#survey-form {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
}

.field {
    display: flex;
    margin-top: 25px;
    margin-bottom: 20px;
}

.labels label {
    display: inline-block;
    text-align: right;
    width: 100%;
    vertical-align: top;
    margin-top: 2px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
    
}

.input-field {
    display: inline-block;
    width: 100%;
    padding: 5px;
    margin: 18px 0 0 10px;
    border: 1px solid #e67e22;
    border-radius: 4px;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
}

::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
}

input[type=number] {
    border: 1px solid #ccc !important;
    padding: 5px !important;
    background-color: #fff !important;
    margin: 18px 0 0 10px !important;
    border: 1px solid #e67e22 !important;
    border-radius: 4px !important;
    width: 100% !important; /* set the width of the input box */
    height: 50% !important; /* set the height of the input box */
}

.input-tab select {
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: 5px;
    margin: 20px 0 10px 10px;
    border: 1px solid #e67e22;
    border-radius: 3px;
    font-family: inherit;
    font-size: 16px;
}

button {
    background-color: #e67e22;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    font-family: inherit;
    padding: 10px 15px;
    border: 1px solid;
    width: 100px;
    height: 50px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}