<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/fare_predict.css"/>
    <title>Predicted Cab Fare</title>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light custom-nav fixed-top w-100 py-3 border-bottom">
            <p class="navbar-brand" style="margin-left: 30px; margin-top: 15px; color: #dcdcdc; font-size: 25px">
                <b> NYC Taxi fare Predictor </b></p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <b>&nbsp;&nbsp;</b>
                  <li class="nav-item">
                    <a class="nav-link" href="/prediction" style="color: white; font-weight: bold; background-color: #333;">
                        Predict <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <b>&nbsp;&nbsp;</b>
                  <li class="nav-item">
                    <a class="nav-link" href="/visualize">Visualize</a>
                  </li>
                  <b>&nbsp;&nbsp;</b>
                  <li class="nav-item">
                    <a class="nav-link" href="https://data.cityofnewyork.us/Transportation/2018-Yellow-Taxi-Trip-Data/t29m-gskq">Dataset</a>
                  </li>
                </ul>
            </div>
        </nav>
    </div>

    <header class="pt-5">
        <div class="text-box">
            <h5>Cab Ride details provided:</h5>
            <ul class="list-group pt-3">
                {% for key, value in input_data.items() %}
                <li class="list-group-item list-group-item-action list-group-item-light">{{ key.replace("_", " ")|title }}: {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
    </header>

    <div class="container pt-3 text-center">
        <h4 style="margin-top: 50px">Predicted Fare Amount of the NYC Cab ride is: $ {{ prediction }}</h4>
        <a href="/" class="btn btn-primary btn-lg">Home</a>
        <b>&nbsp;&nbsp;</b>
        <a href="/prediction" class="btn btn-primary btn-lg">New Prediction</a>
    </div>
</body>
</html>